@import "keep-react/css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Geist';
    src: url('../font/GeistVariableVF.ttf');
}

body {
    font-family: 'Geist';
    background-color: #fff;
}

::-webkit-scrollbar {
    width: 0px;
}

/* BUTTON */

.button {
    width: 200px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: #adc178;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    opacity: 0.9;
}

.button,
.button span {
    transition: 200ms;
}

.button .text {
    transform: translateX(35px);
    color: black;
    font-weight: bold;
}

.button .icon {
    position: absolute;
    transform: translateX(140px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button svg {
    width: 25px;
}

.button:hover {
    opacity: 1;
}

.button:hover .text {
    color: transparent;
}

.button:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(30px);
}

.button:focus {
    outline: none;
}

.button:active .icon svg {
    transform: scale(0.8);
}

.img {
    filter: drop-shadow(5px 5px 0px rgba(0, 0, 0, 0.5));
}

/* ARROW */

.arrow-10 {
    width: 20px;
    height: 40px;
    padding-top: 40px;
    display: grid;
    background:
        linear-gradient(currentColor 0 0) bottom/5px calc(100% - 10px),
        /* Ajusta proporcionalmente el tamaño del degradado */
        conic-gradient(from 134deg at top, #0000, currentColor 1deg 90deg, #0000 91deg) top/100% 10px;
    background-origin: content-box;
    background-repeat: no-repeat;
    animation: a10-0 2s infinite;
    transform: rotate(180deg);
    position: absolute;
    opacity: 0.8;
    top: 90%;
    left: 50%;
}

.arrow-10:before,
.arrow-10:after {
    content: "";
    grid-area: 1/1;
    background: inherit;
    background-size: 10px calc(100% - 15px), 100% 15px;
    animation: a10-1 2s infinite;
}

.arrow-10:after {
    background-size: 10px calc(100% - 20px), 100% 20px;
    animation: a10-2 2s infinite;
}


@keyframes a10-0 {

    25%,
    100% {
        padding-top: 0px;
    }
}

@keyframes a10-1 {

    0%,
    25% {
        margin: 40px -5px 0;
    }

    50%,
    100% {
        margin: 4px -5px 0;
    }
}

@keyframes a10-2 {

    0%,
    50% {
        margin: 40px -7.5px 0;
    }

    75%,
    100% {
        margin: 10px -7.5px 0;
    }
}

/* FOOTER */

footer{
    box-shadow: 2px 2px 5px 2px #000;
}

.card {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;
    gap: 20px;
}

/* for all social containers*/
.socialContainer {
    width: 52px;
    height: 52px;
    border-radius: 5px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: 0.3s;
}

.containerThree:hover {
    background-color: #0072b1;
    transition-duration: 0.3s;
}

.containerFour:hover {
    background-color: #000;
    transition-duration: 0.3s;
}

.socialContainer:active {
    transform: scale(0.9);
    transition-duration: 0.3s;
}

.socialSvg {
    width: 17px;
}

.socialSvg path {
    fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


/* MOBILE RESPONSIVE */

@media(max-width: 430px){
    .main{
        max-width: 21rem !important;
    }
}